body{
    margin: 0;
    padding: 0;
}

/* Above Heading container */
.above-container
{
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.banner
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top;
    transform: translateY(-10%);
}
.banner-text
{
    position: absolute;
    bottom: 20px; 
    font-size: 3.5rem;
    left: 50%; 
    transform: translateX(-50%); 
    /* background-color: rgba(0, 0, 0, 0.5);  */
    color: white;
    padding: 10px;
}
@media (max-width: 768px) {
    .above-container {
        height: 150px; 
    }

    .image-text {
        bottom: 10px; 
        padding: 5px; 
    }
}

/* main pic container */
.pic-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin-left: 35px;
    margin-top: 50px;
    margin-right: 35px;
  }
  .img-div {

    text-align: center;
    
  }
  #img-pic
  {
    width: 380px;
    height: 380px;
  }
  .srcollbar
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 0.7rem;
  }
  #number-1 
  {
    height: 45px;
    width: 45px;
    font-weight: bold;
    background-color: white;
    border: 0.1px solid rgb(178, 177, 177);
    border-radius: 5px;
    font-size: large;
    box-shadow: 1px 1px 6px #d1cece;
  }
  #number-1:hover
  {
    background-color: red;
  }
  #number-2 
  {
    height: 45px;
    width: 45px;
    font-weight: bold;
    background-color: white;
    border: 0.1px solid rgb(178, 177, 177);
    border-radius: 5px;
    font-size: large;
    box-shadow: 1px 1px 6px #d1cece;
  }
  #number-2:hover
  {
    background-color: red;
  }
  #next
  {
    height: 45px;
    width: 45px;
    font-weight: bold;
    background-color: white;
    border: 0.1px solid rgb(178, 177, 177);
    border-radius: 5px;
    box-shadow: 1px 1px 6px #d1cece;
  }
  #next:hover
  {
    background-color: red;
  }

  /* responsive code for gallery page expect above container */

  
@media only screen and (max-width: 600px) {
  .pic-container {
      grid-template-columns: auto;
      gap: 0.5rem;
      margin-left: 10px;
      margin-right: 10px;
  }
  #img-pic {
      width: 100%;
      height: auto;
  }
  .srcollbar {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 1rem;
      margin-bottom: 1rem;
  }
  #number-1, #number-2, #next {
      
      margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .pic-container {
      grid-template-columns: auto auto;
      gap: 1rem;
      margin-left: 20px;
      margin-right: 20px;
  }
}

@media only screen and (min-width: 1025px) {
  .pic-container {
      grid-template-columns: auto auto auto;
      gap: 1rem;
      margin-left: 35px;
      margin-right: 35px;
  }
}
